.container {
    .container-center {
        padding-bottom: 50px;
        .center {
            .center-img_top {
                width: 100%;
                height: 550px;
                margin: 0 auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .center-list {
                padding-top: 100px;
                .center-item {
                    display: flex;
                    justify-content: center;

                    margin-left: 40px;
                    background-color: #d9d9d9;
                    margin-right: 200px;
                    margin-top: 30px;
                    .item-img {
                        width: 500px;
                        height: 200px;
                        padding: 20px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .item-content {
                        padding: 20px;
                    }
                }
            }
        }
    }
}
